<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1NPhlTOBv6Cp2kRUafNkNsJyVqcGuqoE</string>
	<key>GCM_SENDER_ID</key>
	<string>231045355070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertodragit.remindy</string>
	<key>PROJECT_ID</key>
	<string>remindy-a154e</string>
	<key>STORAGE_BUCKET</key>
	<string>remindy-a154e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231045355070:ios:a9fef7286fe8a07e56e36f</string>
</dict>
</plist>